    
#manager/templates/default/css/index.css


@media screen and (max-width: 640px) {
        
/*     .x-tab-strip-wrap {   margin-top:50px;
    
} */
        
    #modx-user-menu {
    margin-right: 0;
    }
    
    #modx-home-dashboard, #limenu-about, #limenu-about, #limenu-user {display:none!important}
    
    #modx-navbar .top {
    padding-right:0;
    }
    
    #modx-navbar .top:after {
        display:none;
    }
    
    }


/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px!important;
    outline: none!important;
  }
}
